* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: 'source_sans_pro', sans-serif;
    
    .container {
        width: 90%;
        margin: 0 auto;

        input, button {
            margin: 2em 0;
            padding: .5em 0 .5em .5em;
        }
        p {
            padding: .5em 0 0 0;
        }
    }
}